<div id="settingContent" style="height: 100%;overflow-y: auto;">
  <mat-tab-group (selectedTabChange)="selectedTabChange($event)">
    <mat-tab label="General"> 

    
<div style="overflow-y: auto;height: 100%;" id="settingGeneral">
  <mat-card>
    <mat-card-header>      
      <mat-card-title></mat-card-title>
      <mat-card-subtitle>Configuración de aplicación</mat-card-subtitle>
    </mat-card-header>
    
    <mat-card-content>
      <p>
        <mat-form-field class="example-full-width">
          <mat-label>Tu Nombre</mat-label>
          <input matInput [(ngModel)]="nombre">
        </mat-form-field>
      </p>

      <p>
        
        <mat-slide-toggle [(ngModel)]="config.darkMap">Mapa Oscuro</mat-slide-toggle>
        <br>
        Usalo para entrenar de noche sin que te moleste la luz de tu celular.
      </p>


      <p>
        
        <mat-slide-toggle [(ngModel)]="config.keepAwake">Mantener pantalla activa</mat-slide-toggle>
        <br>
        Si queres mantener activa tu pantalla en el entrenamiento activá esta opcion! (consumo de bateria extra)
        
      </p>
      <p>
        
        <mat-slide-toggle [(ngModel)]="config.textSpeech">Háblame cuanto recorrí </mat-slide-toggle>
        <br>
        Contame como viene mi recorrido! "Tantos km en X tiempo"  y "En X tiempo tantos KM"
        <br><br>
      </p>
      


      <button mat-button mat-raised-button (click)="save()" color="accent"><mat-icon>save</mat-icon>Guardar</button>
      &nbsp;
      <button mat-button mat-raised-button (click)="checkAuth()" color="primary"><mat-icon>app_settings_alt</mat-icon>Permisos App</button>
    </mat-card-content>
    <mat-card-actions>
      
    </mat-card-actions>
  </mat-card>
</div>
  
</mat-tab>
<mat-tab label="GPS" > 
  <div style="overflow-y: auto;height: 100%;" id="settingGps">
    <mat-card>
      <mat-card-header>      
      <mat-card-title></mat-card-title>
      <mat-card-subtitle>Configuración de aplicación</mat-card-subtitle>
    </mat-card-header>
    
    <mat-card-content>
      
      <mat-form-field class="example-full-width">
        <mat-label>Radio de inactividad</mat-label>
        <input matInput type="number" [(ngModel)]="gps_config.stationaryRadius">
      </mat-form-field>
      Metros
      
      
      <div>
        Radio estacionario en metros. Cuando está parado, la distancia mínima que el dispositivo debe moverse más allá de la ubicación estacionaria para que se active el seguimiento en Segundo plano.
      </div>
      <br>

      
      <p style="font-size: 14px;font-weight: 500;">Extra Inactividad</p>
        <mat-slide-toggle [(ngModel)]="gps_config.forceStationaryUpdate">Forzar actualización cuando se esta inactivo</mat-slide-toggle>
      
      
      
      
      <div>
        Cuando Usted se queda quieto por un perido de tiempo, el GPS deja de tomar la posicion, cuando detecta movimiento vuelve a recibir su posicion.
        Hay Equipos que se demoran demaciado tiempo. Esta opcion Obliga a mantener activa la posicion. Genera mas Puntos.

      </div>
      <br>

      
      
      <mat-form-field class="example-full-width">
        <mat-label>Filtro de distancia</mat-label>
        <input matInput type="number" [(ngModel)]="gps_config.distanceFilter">
      </mat-form-field>
      Metros
 
      
      <div>
        La distancia mínima (medida en metros) que un dispositivo debe moverse horizontalmente antes de que se genere un evento de actualización.
      </div>
      
      <br>
      
      <mat-form-field class="example-full-width">
        <mat-label>Intervalo</mat-label>
        <input matInput type="number" [(ngModel)]="gps_config.interval">
      </mat-form-field>
      milisegundos
      
      
      <div>
        El intervalo de tiempo mínimo entre actualizaciones de ubicación en milisegundos. 
      </div>          
      <br>
      
      <mat-form-field class="example-full-width">
        <mat-label>Intervalo mas Rapido</mat-label>
        <input matInput type="number" [(ngModel)]="gps_config.fastestInterval">
      </mat-form-field>
      milisegundos
      
      
      <div>
        La tasa más rápida en milisegundos a la que su aplicación puede manejar actualizaciones de ubicación. 
      </div>    
      <br>
      
      <mat-form-field class="example-full-width">
        <mat-label>Interval en actividad</mat-label>
        <input matInput type="number" [(ngModel)]="gps_config.activitiesInterval">
      </mat-form-field>
      milisegundos
      
      
      <div>
        Tasa en milisegundos a la que se produce el reconocimiento de actividad. Los valores más altos darán como resultado menos detecciones de actividad y, al mismo tiempo, mejorarán la duración de la batería. 
      </div>   
      <br>
      <h2>Proveedor GPS</h2>
      <mat-radio-group [(ngModel)]="gps_config.locationProvider" aria-label="Select an option">
        <mat-radio-button [value]=1>Actividad</mat-radio-button>&nbsp;
        <mat-radio-button [value]=0>Filtro de distancia</mat-radio-button>
      </mat-radio-group>
      <br><br>
      <div>
        <h2>Actividad:</h2>
        <p>
          Es mejor usar este como proveedor de ubicación en primer plano (pero también funciona en segundo plano).
        </p>
        <br>
        <h2>Filtro de distancia:</h2>
        <p>
          Este es un proveedor clásico. Es mejor usar este como proveedor de ubicación en segundo plano.
          Utiliza API estacionaria y filtro de distancia elástica para lograr un uso óptimo de la batería y los datos.
        </p>
        <span style="color: white;font-size: 17px;font-weight: 400;" (click)="goUrl()"> Para mas información haga click aca</span>
      </div>     
      <br>
      <p>
        
        <mat-slide-toggle [(ngModel)]="gps_config.debug">Depuración</mat-slide-toggle>
        <br>
        Cuando está habilitado, el complemento emitirá sonidos para eventos de ciclo de vida de geolocalización en segundo plano. Consulte la tabla de depuración de sonidos.
      </p>  
      <br><br>
      <button mat-button mat-raised-button (click)="saveGps()" color="accent"><mat-icon>save</mat-icon>Guardar</button>
    </mat-card-content>
  </mat-card>
</div>
  
</mat-tab>

</mat-tab-group>
</div>