<div id="settingContent" style="height: 100%;">

  <mat-card >
    <mat-card-header>      
      <mat-card-title></mat-card-title>
      <mat-card-subtitle>Configuración de aplicación</mat-card-subtitle>
    </mat-card-header>
    
    <mat-card-content>
      <p>
        <mat-form-field class="example-full-width">
          <mat-label>Tu Nombre</mat-label>
          <input matInput [(ngModel)]="nombre">
        </mat-form-field>
      </p>

      <p>
        
        <mat-slide-toggle [(ngModel)]="config.darkMap">Mapa Oscuro</mat-slide-toggle>
        <br>
        Usalo para entrenar de noche sin que te moleste la luz de tu celular.
      </p>


      <p>
        
        <mat-slide-toggle [(ngModel)]="config.keepAwake">Mantener pantalla activa</mat-slide-toggle>
        <br>
        Si queres mantener activa tu pantalla en el entrenamiento activá esta opcion! (consumo de bateria extra)
        
      </p>
      <p>
        
        <mat-slide-toggle [(ngModel)]="config.textSpeech">Háblame cuanto recorrí </mat-slide-toggle>
        <br>
        Contame como viene mi recorrido! "Tantos km en X tiempo"  y "En X tiempo tantos KM"
        <br><br>
      </p>
      


      <button mat-button mat-raised-button (click)="save()" color="accent"><mat-icon>save</mat-icon>Guardar</button>
      &nbsp;
      <button mat-button mat-raised-button (click)="checkAuth()" color="primary"><mat-icon>app_settings_alt</mat-icon>Permisos App</button>
    </mat-card-content>
    <mat-card-actions>
      
    </mat-card-actions>
  </mat-card>
</div>