<div id="calendarContent" style="overflow-y: auto;">
<div  [hidden]="!verMapa">
    <div   id="map_calendar">
     
      <img class="CompassFondo" src="assets/compassFondo.svg">
      <img id="agujasRep" class="CompassAgujas" src="assets/brujula.svg">
        
         

   </div>
</div>
<div *ngIf="entrenamientoLocations">
    <div style="position: absolute;">{{startTime}}</div>    
    <div style="position: absolute;left:40%">{{ghostTimeStr}}</div>    
    
    <div style="position: absolute;right: 13%;">{{endTime}}</div>
    <!-- [displayWith]="formatLabel" 
        [thumbLabel]="true"
        (change)="SliderChange($event)"
    -->
    <mat-slider
    
    style="width: 85%;z-index: 20000;"
    [disabled]="false"
    [invert]="false"
    
    [max]="entrenamientoLocations.length"
    [ngModel]="SliderValue"
    (input)="inputSlider($event)"
    (onTouched)="onTouched($event)"
    [min]="1"
    [step]="1"
    [tickInterval]="1"
    
    [vertical]="false"
    aria-labelledby="example-name-label">
</mat-slider>
<button style="position: absolute;right: 10px;     margin-top: 5px;" mat-mini-fab color="primary" aria-label="Example icon button with a menu icon" [matMenuTriggerFor]="menu">
    <mat-icon>speed</mat-icon>
  </button>
  <mat-menu #menu="matMenu">

      

    <button mat-menu-item *ngFor="let x of [1,8,16,32,50]" (click)="this.ghostSpeed=x">
      <mat-icon>fast_forward</mat-icon>
      <span>Velocidad x {{x}}</span>
    </button>

  </mat-menu>
</div>

<div style="height:200px;overflow-y: scroll;" id="listContainer">
  <div *ngIf="!Entrenamientos.length">
    <mat-card>
    <h2>Aun no hay registros!</h2>
    </mat-card>
  </div>
<div style="margin: 5px;" *ngFor="let entrenamiento of Entrenamientos;let i = index">
<mat-card class="example-card" [ngStyle]="{'background-color': (entrenamiento.externo)?'darkslateblue':''}">
    <!-- <mat-card-header>
       <mat-card-title></mat-card-title>
      <mat-card-subtitle></mat-card-subtitle> 
    </mat-card-header> -->
    
    <mat-card-content>
        
        <div style=" font-size: 20px;width:100%;padding-bottom: 20px;">
            <mat-icon class="icon-border">hiking</mat-icon>&nbsp;&nbsp;
            {{entrenamiento.fecha}}
        </div>        
        <div style=" display: flex;">
        <div style=" font-size: 16px;width:30%;padding-bottom:0px;">{{entrenamiento.tiempo}}</div>        
        <div style=" font-size: 16px;width:30%;text-align: right;">{{entrenamiento.pasos}} pasos</div>        
        <div style=" font-size: 16px;width:30%;text-align: right;">{{entrenamiento.distancia}}</div>        
        <div style=" font-size: 16px;width:30%;text-align: right;">{{entrenamiento.velocidad}}</div>        
      </div>
     
      
    </mat-card-content>
    <mat-card-actions style="text-align: right;">
        <div style="text-align: right;width: 100%;">
          
          <button mat-button mat-raised-button *ngIf="entrenamiento.saved" [matMenuTriggerFor]="menu"  color="primary" >
            <mat-icon mat-list-icon>share</mat-icon>
            <span></span>            
        </button>
        <mat-menu #menu="matMenu">
          

          <button mat-menu-item (click)="shareEntrenamiento(entrenamiento,false)"  color="primary" >
            <mat-icon mat-list-icon>run_circle</mat-icon>
            <span>Compartir con...</span>            
        </button>
        <button mat-menu-item (click)="shareEntrenamiento(entrenamiento,true)"  color="primary" >
          <mat-icon mat-list-icon>share_location</mat-icon>
          <span>Exportar GPX...</span>            
      </button>

        </mat-menu>  
        <button mat-button mat-raised-button *ngIf="!entrenamiento.saved" (click)="guardar(entrenamiento)" color="primary" >
          <mat-icon mat-list-icon>save</mat-icon>
          <span>Guardar</span>            
      </button>  
        <button mat-button mat-raised-button (click)="delete(entrenamiento.start)" *ngIf="!entrenamiento.play" color="warn" >
                <mat-icon mat-list-icon>delete</mat-icon>
            
        </button>
        <button mat-button mat-raised-button (click)="view(entrenamiento,i)" *ngIf="!entrenamiento.play"  color="accent">
            <mat-icon mat-list-icon>visibility</mat-icon>
            <span>Ver</span>            
        </button>
        <button mat-button mat-raised-button (click)="stopPaintGhost(entrenamiento)" *ngIf="entrenamiento.play"  color="primary">
            <mat-icon mat-list-icon>visibility_off</mat-icon>
            <span>Parar</span>            
        </button>
    </div>
        

      
    </mat-card-actions>
  </mat-card>
</div>
</div>
</div>