<mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Mis Prácticas</mat-card-title>
      <mat-card-subtitle>por Juan F. Calvo</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="assets/remo.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
        <span style="font-size: 20px;font-weight:400">Una aplicación para ayudarte a entrenar!</span>
            <br>
    <ul>
        <li>
            Simple de usar!
        </li>
        <li>
            Registra todos los eventos de tu entrenamiento!
        </li>
        <li>
            Puedes visualizarlas despues de entrenar!
        </li>
        <li>
            No utiliza tus datos!  (solo el mapa)
        </li>
        <li>
            No requiere Registrarse!
        </li>
        <li>
            No tiene Publicidad!
        </li>
        <li>
            Utiliza mapa:
            https://www.openstreetmap.org/
        </li>
        
    </ul>
    <br>
    Que lo disfrutes!
      
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>Me gusta</button>
      <button mat-button>Comparir</button>
    </mat-card-actions>
  </mat-card>
